.woocommerce .product .woocommerce-product-gallery {
    position: relative;
}

.woocommerce .product .woocommerce-product-gallery__trigger {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 2em;
    z-index: 9;
    width: 36px;
    height: 36px;
    background: #fff;
    text-indent: -9999px;
    border-radius: 100%;
    box-sizing: content-box;
}

.woocommerce .product .woocommerce-product-gallery__trigger::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    border-radius: 100%;
    position: absolute;
    top: 9px;
    left: 9px;
    box-sizing: content-box;
}

.woocommerce .product .woocommerce-product-gallery__trigger::after {
    content: "";
    display: block;
    width: 2px;
    height: 8px;
    background: #000;
    border-radius: 6px;
    position: absolute;
    top: 19px;
    left: 22px;
    transform: rotate(-45deg);
    box-sizing: content-box;
}

.woocommerce .product .flex-viewport {
    margin-bottom: 10px;
    border-radius: 0;
    background-color: var(--bs-light);
}

.woocommerce .product .woocommerce-product-gallery__wrapper {
    transition: all cubic-bezier(.795,-.035,0,1) .5s;
    margin: 0;
    padding: 0;
}

.woocommerce .product .woocommerce-product-gallery__wrapper .zoomImg {
    background-color: #fff;
    opacity: 0;
}

.woocommerce div.product .woocommerce-product-gallery img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: none;
    aspect-ratio: 4/3;
    object-fit: contain;
}

.woocommerce .product .woocommerce-product-gallery__image:nth-child(1) {
    background-color: var(--bs-light);
}

.woocommerce .product .woocommerce-product-gallery__image:nth-child(n+2) {
    width: 25%;
    display: inline-block;
}

.woocommerce .product .woocommerce-product-gallery .flex-control-thumbs {
    overflow: hidden;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
}

.woocommerce .product .woocommerce-product-gallery .flex-control-thumbs li {
    list-style: none;
}

.woocommerce .product .woocommerce-product-gallery .flex-control-thumbs li img {
    cursor: pointer;
    opacity: .5;
    transition: opacity 0.2s;
    border-radius: 0;
}

.woocommerce .product .woocommerce-product-gallery .flex-control-thumbs li img.flex-active,
.woocommerce .product .woocommerce-product-gallery .flex-control-thumbs li img:hover {
    opacity: 1;
}

@supports (object-fit: cover) {
    .woocommerce .product .woocommerce-product-gallery .flex-control-thumbs li img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}